[mysqld]
datadir=/media/ephemeral0a/mysql
tmpdir=/media/ephemeral1b/mysql-temp
socket=/var/lib/mysql/mysql.sock

character-set-server = utf8mb4

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mysqld according to the
# instructions in http://fedoraproject.org/wiki/Systemd

innodb_buffer_pool_size=8GB
innodb_buffer_pool_instances=4
innodb_file_per_table
# about as safe as the old dbserver
innodb_flush_log_at_trx_commit=2
default-storage-engine=INNODB

max_heap_table_size=1073741824
tmp_table_size=1073741824

# critical for GROUP_CONCAT() "percentile trick"
max_allowed_packet=1073741824
group_concat_max_len=1073741824

ssl-cert=/etc/pki/tls/certs/mysql/server-cert.pem
ssl-key=/etc/pki/tls/certs/mysql/server-key.pem
ssl-ca=/etc/pki/tls/certs/mysql/ca-cert.pem

# logging settings
general_log=off
slow_query_log=on
log_output=TABLE
long_query_time=60 # log queries that take longer than this many seconds
log_queries_not_using_indexes=true
log_slow_admin_statements=true

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

[client]
default-character-set = utf8mb4

