{
    "developer_user_id_list": [1111, 1112, 1114, 1113],

    "game_id":"mf2test",  // "trtest" for Thunder Run, "mf2test" for War Star Empire

    // directories (relative to gameserver) for storing user state
    "playerdb_dir":"playerdb",
    "userdb_dir":"userdb",
    "aistate_dir":"aistate",

    // directory (relative to gameserver) for logs and metrics
    "log_dir":"logs",

    "public_s3_bucket": "ZZZZZZ", // used for facebook_assets, jquery, etc
    "artmaster_s3_bucket": "ZZZZZZ", // used to download the art pack

    // PROXY SERVER configuration
    "proxyserver": {
        // world-visible ports on which the game runs
        "external_http_port": 9091,
        "external_ssl_port": -1,

        "direct_connect": 1,
        // idle timeout (in seconds) for state stored during the login/auth process
        "visitor_timeout": 1000,

        // idle timeout (in seconds) for game session state
        // note: this is different from the timeout that the individual game server uses, specified in gamedata_main.json
        "session_timeout": 600

    },

    // GAME SERVER configuration
    "gameservers": {
        "default": {
            // host to which the proxy server should forward game API calls
            "game_host": "localhost",
            "game_listen_host": "",
            // port to which the proxy server should forward game API calls
            "game_http_port": 9092,
            "game_ssl_port": -1,
            "io": { "backend": "file" }
        }
    },

    // DATABASE SERVER configuration
    "dbserver": { // obsolete
        "use_mongodb": 1
    },
    "sqlserver": { // obsolete
        "use_mongodb":1
    },
    "mongodb_servers": {
        "mftest": { "host": "localhost", "dbname": "YYYYYY", "table_prefix":"mf_", "username": "YYYYYY", "password": "XXXXXX" },
        "trtest": { "host": "localhost", "dbname": "YYYYYY", "table_prefix":"tr_", "username": "YYYYYY", "password": "XXXXXX" },
        "mf2test": { "host": "localhost", "dbname": "YYYYYY", "table_prefix":"mf2_", "username": "YYYYYY", "password": "XXXXXX" },
        "dvtest": { "host": "localhost", "dbname": "YYYYYY", "table_prefix":"dv_", "username": "YYYYYY", "password": "XXXXXX" },
        "sgtest": { "host": "localhost", "dbname": "YYYYYY", "table_prefix":"sg_", "username": "YYYYYY", "password": "XXXXXX" },
        "ggtest": { "host": "localhost", "dbname": "YYYYYY", "table_prefix":"gg_", "username": "YYYYYY", "password": "XXXXXX" },
        "bfmtest": { "host": "localhost", "dbname": "YYYYYY", "table_prefix":"bfm_", "username": "YYYYYY", "password": "XXXXXX" }
    },

    "use_compiled_client":1, // use obfuscated client code
    "log_verbosity":0, // log every client/server message
    "secure_mode":0, // this turns off "cheating" and other developer features
    "enable_dowser":0, // for Python memory profiling
    "dowser_port":8080,
    "enable_facebook":0, // enable Facebook API
    "enable_kissmetrics":0, // enable KISSmetrics API

    // secret value used to authenticate messages from the proxy server to the game server
    "proxy_api_secret":"XXXXXX",

    // Get these from the Facebook Developer App page
    "facebook_app_namespace":"ransomerrift",
    "facebook_app_id":"",
    "facebook_app_secret":"",
    // Facebook app access token - retrieve from the following URL:
    // https://graph.facebook.com/oauth/access_token?client_id=YOUR_APP_ID&client_secret=YOUR_APP_SECRET&grant_type=client_credentials
    "facebook_app_access_token": "",

    // SSL certs for this host
    "ssl_key_file":"",
    "ssl_crt_file":"/etc/pki/tls/certs/spinpunch.com.crt",
    "ssl_chain_file":"/etc/pki/tls/certs/spinpunch.com_and_gd_bundle.crt"
}
