# Working set of Python dependencies for gameserver as of 20180311
# Newer versions of these will probably work, but have not been tested.
# note: security-critical modules use ">=" versioning, others use "=="

# note: aws/botocore/boto3 should generally use ">=" to avoid conflicts
# with updates pushed by Amazon Linux and other external tools.

awscli>=1.16.9
bcrypt==3.1.6
botocore>=1.11.9
boto3>=1.8.9
Brotli==1.0.7
brotlipy==0.7.0
certifi>=2018.1.18
cffi==1.12.2
cryptography>=2.1.4
futures==3.2.0
geoip2==2.9.0
google_api_python_client==1.7.8
ipaddress==1.0.22
Jinja2==2.10.1
lz4==0.18.1
maxminddb==1.4.1

# MySQL library
PyMySQL==0.9.3 # pure-Python implementation
# MySQL-python==1.2.5 # note: will require a MySQL-devel package to build against

Pillow>=6.0.0,<7.0.0
psycopg2-binary==2.8
py-vapid==1.4.0
pyasn1>=0.4.2
pyasn1-modules>=0.2.1
pyflakes==2.1.1
pymongo>=3.6.0
pyOpenSSL>=17.5.0
pywebpush==1.9.2
# pyxDamerauLevenshtein==1.4.1 # note: this is optional, and pulls in numpy (large)
requests==2.21.0
service-identity>=18.1.0
six==1.12.0
SQLAlchemy==1.3.2
txpostgres==1.6.0

# SpinPunch customized Python libraries

#  Various utilities, mostly related to Twisted and HTTP
git+git://github.com/spinpunch/spin-py-libs.git@v0.1.0#egg=spinlibs==0.1.0

# Twisted==17.9.0 works, but has some spurious warnings and exceptions
# our customized version fixes these.
# note: the version string on the end only tells pip to skip this
# intall if the currently installed version matches that version. It
# does NOT enforce which version is pulled from Git.
git+git://github.com/spinpunch/twisted.git@spinpunch-19.2.0dev0#egg=Twisted==19.2.0.dev0

# ujson MUST be this customized version, which adds extra options like
# buffer size hints and adjusts whitespace handling
git+git://github.com/spinpunch/ultrajson.git@spinpunch#egg=ujson==2.0


# note: if this install fails, it might be because of a legacy setuptools configuration that
# uses HTTP instead of HTTPS to access pypi.python.org.

# To fix this, edit /root/.pydistutils.cfg to contain:
# [easy_install]
# index-url = https://pypi.python.org/simple/

# The below command might also help - "distribute" is a deprecated
# package that may impose bad default settings on pip:
# sudo pip uninstall distribute
